[submodule "xmobar-git"]
	path = xmobar-git
	url = git@github.com:jaor/xmobar.git
[submodule "xmonad-contrib-git"]
	path = xmonad-contrib-git
	url = git@github.com:xmonad/xmonad-contrib
[submodule "xmonad-git"]
	path = xmonad-git
	url = git@github.com:xmonad/xmonad.git
